<% title @event.title + ' Details', false %>
<h2><%= @event.title %></h2>
<h3><%= @event.date && @event.date.strftime('%A %B %d, %Y @ %I:%M %p') %></h3>
<p><%= @event.description && RedCloth.new(@event.description).to_html %></p>
<h3>Needed Items</h3>
<ul>
<% @items.each do |item| %>
<li> <%= item.quantity %> <%= item.name %> </li>
<% end %>
</ul>
<p>Share this event by giving out this link: <a href="http://<%= request.env['HTTP_HOST']%>/signup/<%= @event.key%>">http://<%= request.env['HTTP_HOST']%>/signup/<%= @event.key%></a></p>
<p>Download a <%= link_to 'CSV', event_path(@event, :format => 'csv') %> file of the data.</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>